@model INNBAHI.ViewModels.BaseViewModel

<html>
<head>
    <title>INNBAHI Innovaciones Bahienses</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="content/assets/js/ie/html5shiv.js"></script><![endif]-->
    @Styles.Render("~/content/assets/css/main.css")
    <!--[if lte IE 9]><link rel="stylesheet" href="content/assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="content/assets/css/ie8.css" /><![endif]-->
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="@Url.Action("Index","Home")" class="logo">
                    <noscript><span class="symbol"><img src="~/content/images/logo.svg" alt="" /></span></noscript><span class="title">INNBAHI</span>
                </a>

                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                @foreach (var prod in Model.Products)
                {
                    <li><a href="@Url.Content(prod.Url)">@prod.Name</a></li>
                }
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">
            <div class="inner">
                @RenderBody()
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <section>
                    <h2>Contáctenos</h2>

                    <form method="post" action="@Url.Action("Send", "Mail")">
                        <div class="field half first">
                            <input type="text" name="name" id="name" placeholder="Nombre" />
                        </div>
                        <div class="field half">
                            <input type="email" name="email" id="email" placeholder="Email" />
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" placeholder="Mensaje"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Enviar" class="special" /></li>
                        </ul>
                    </form>
                </section>
                <section>
                    <h2>Teléfonos</h2>
                    0291-4860048 | 0291-156-484880
                    <noscript>
                        <ul class="icons">
                            <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
                            <li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
                            <li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
                            <li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
                            <li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
                        </ul>
                    </noscript>
                </section>
                <ul class="copyright">
                    <li>&copy; INNBAHI. Todos los derechos reservados</li>
                </ul>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    @Scripts.Render("~/content/assets/js/jquery.min.js")
    @Scripts.Render("~/content/assets/js/skel.min.js")
    @Scripts.Render("~/content/assets/js/util.js")
    <!--[if lte IE 8]><script src="content/assets/js/ie/respond.min.js"></script><![endif]-->
    @Scripts.Render("~/content/assets/js/main.js")
</body>
</html>